.primary-button {
  width: 100%;
  outline: none;
  border: none;
  background: $tertiary-color;
  color: #000;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 8px;
}
