:root {
  --f7-navbar-height: 80px;
  --f7-navbar-shadow-image: none;
  --f7-theme-color: $color-primary;
}

.view {
  background: #f2f2f2;
}

.navbar {
  box-shadow: 0px -1px 10px rgba(40, 22, 77, 0.1);
  position: fixed !important;
  top: 0;
  z-index: 9999;

  * {
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-bg {
    background: #ffffff;
    background-size: 100% 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-inner::before {
    display: none;
  }

  .navbar-bg::before {
    display: none;
  }

  .navbar-inner::after {
    display: none;
  }

  .navbar-bg::after {
    display: none;
  }

  .navbar::after {
    display: none;
  }

  .navbar::before {
    display: none;
  }

  .left {
    font-family: $custom-font;
    font-size: 16px;
    font-weight: bold;
    color: $primary-color;
    padding: 0 15px;
    margin-top: calc(env(safe-area-inset-top) - 20px);
    flex: 1;
  }

  .ripple-wave {
    width: 50px !important;
    height: 50px !important;
    margin-top: -25px !important;
    margin-left: -25px !important;
    top: 49px !important;
    left: 45px !important;
    transform: translate3d(-17px, -9px, 0px) scale(0.5) !important;
  }

  .title {
    font-family: $custom-font;
    color: $primary-color;
    padding: 0;
    margin-top: calc(env(safe-area-inset-top) - 20px);
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    flex: 5;
  }

  .right {
    margin-top: calc(env(safe-area-inset-top) - 20px);
    flex: 1;
  }

  .appbar-user-icon {
    color: $primary-color;
    display: flex;
    padding: 0;
  }
}
